/* BEGIN: _var.scss
// -----------------------------------------------------*/

/* BEGIN: variables.scss - for theme.scss
// -----------------------------------------------------*/

// Colors
// -------------------------------------------------- //

$black: 				#000;
$charcoal: 			#333;
$white: 				#fff;
$blue: 				#05f;
$red: 				#d22;
$brown:				#382424;
$orange:                 #f50;
$yellow:	               #FEC200;
$pink:                   #f69;
$purple:                 #94c;
$green:                  #409e3c;

// Grey
$grey: #ccc;
$greyLight: 			lighten($grey, 5%);
$greyLighter: 			lighten($grey, 10%);
$greyLightest: 		lighten($grey, 14%);
$greyDark: 			darken($grey, 15%);
$greyDarker:			darken($grey, 30%);
$greyDarkest:			darken($grey, 45%);

// Blues
$blue:                  #043F90;
$blueLight:             lighten($blue, 20%);
$blueLighter:           lighten($blue, 40%);
$blueLightest:          lighten($blue, 60%);
$blueDark:              darken($blue, 2%);
$blueDarker:            darken($blue, 4%);
$blueDarkest:           darken($blue, 8%);

// Error colors
$red:                   $red;
$redLight:		    lighten($red, 30%);
$redLighter:		    lighten($red, 40%);
$redLightest:		    lighten($red, 50%);

$green:                 #74ae42;
$greenLight:            lighten($green, 5%);
$greenLighter:          lighten($green, 10%);
$greenLightest:         lighten($green, 15%);
$greenDark:             darken($green, 5%);
$greenDarker:           darken($green, 15%);
$greenDarkest:          darken($green, 30%);

$bodyBackground:        #f9f9f9;