/* BEGIN: common.scss
// -----------------------------------------------------*/
* {
    box-sizing: border-box;
}

/* Highlight Text Color */
::selection {
    background: $orange;    /* Safari */
    color: #fff;
}
::-moz-selection {
    background: $orange;    /* Firefox */
    color: #fff;
}

html,
body {
    height: 100%;
}
body {
	@include BodyCopy;
    background-color: $bodyBackground;
    border-top: 2px solid $yellow;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5em;
    margin: 0 0 1.25em 0;
}
a {
    color: $blueDarkest;
    text-decoration: none;
    border-bottom: 1px dashed $borderColor;
    &:hover {
         color: $purple;
         border-bottom-style: solid;
    }
}
dl {
    > dd {
         margin-left: 0;
    }
}

/* Helpers ************* */
.pull-right {
    float: right;
}
.back_top {
   margin: 0;
   padding: $pageMargin $pageMargin $pageMargin 0;
   border-bottom: 1px dashed $yellow;
   // border-top: 1px dashed $yellow;
}
.align-right {
   text-align: right;
   .button {
       margin-bottom: 0;
   }
}

.callout {
   padding: $pageMargin $pageMargin + 20px;
   border: 1px dashed $borderColor;
   background: $greyLightest;
   > h4 {
       margin-bottom: $pageMargin - 10px;
   }
   .icon-award {
      //  color: lighten($yellow, 25%);
      color: $greyLight;
   }
   .callout-awards {
       border: 1px dashed $yellow;
       background: lighten($yellow, 50%);
   }
}