/* BEGIN: footer.scss
// -----------------------------------------------------*/
.page-footer {
    text-align: center;
    padding-bottom: 16px;
    span {
        display: block;
        width: auto;
        color: $greyDark;
        font-size: .85em;
    }
}