/* BEGIN: nav.scss
// -----------------------------------------------------*/

header {
    display: grid;
    grid-template-columns: 1fr auto;
    hgroup {
        h1 {
            margin: 24px 0 0 0;
            a {
                border-bottom: none;
                color: $greyDarkest;
            }
        }
        h2 {
            color: $orange;
            font-size: 135%;
            + p {
                margin-top: 10px;
                margin-bottom: 8px;
            }
        }
    }
    nav {
        align-self: end;
        color: $grey;
        > ul {
            list-style: none;
            margin-bottom: 0;
            li {
                display: inline-block;
                margin-bottom: 0;
                a {
                    border-bottom: 4px solid transparent;
                    display: inline-block;
                    padding: 4px 16px;
                    text-transform: capitalize;
                    text-shadow: 0 1px #fff;
                    &.active {
                        color: $purple;
                        font-weight: bold;
                    }
                    &:hover {
                        border-bottom-color: $purple;
                    }
                }
            }
        }
    }
}

/* BEGIN: Secondary Page Navigation */
.freeze-nav {
    .page-header {
        border:1px solid transparent;
        hgroup {
            @include transition(all 2.0s ease-in);
            h1 {
                font-size: 115%;
            }
            h2 {
                font-size: 100%;
                + p {
                    display: none;
                }
            }
        }
        &.navbar-fixed {
            background: rgba($yellow, 0.9);
            border-top: 2px solid $yellow;
            box-shadow: 0 1px 3px $greyDarker;
            height: 45px;
            left: 0;
            padding: 0 $pageMargin;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
            -webkit-backdrop-filter: blur(5px); /* backdrop-filter is not fully supported yet; so far only on safari */
            backdrop-filter: blur(5px);
            hgroup {
                display: inline-block;
                h1 {
                    color: $black;
                    display: inline-block;
                    line-height: 40px;
                }
                h2 {
                    display: none;
                }
            }
            nav {
                margin-right: 10px;
                padding-top: 5px;
                top: 0;
                ul {
                    margin-bottom: 0;
                    li {
                        margin-bottom: 0;
                        &:after {
                            color: $black;
                        }
                        a {
                            text-shadow: none;
                            &:not(.active) {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.subnav {
    strong {
        margin-left: 10px;
        margin-right: 10px;
    }
}





/* Tablet and Phone - <992px */
@media only screen and (max-width: $screen-md-min) {
    /* Begin Navigation */
    header {
        nav {
            margin: 1em 0;
            background-color: $bodyBackground;
            li {
                width: 32%;
                text-align: center;
                a {
                    margin: 0;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
                &:after {
                    content: " ";
                }
            }
        }
    }
    /* Begin Layout */
    main {
        article {
            section {
                .colonnade {
                    &.cards {
                        .card {
                            padding-bottom: 0;
                            footer {
                                position: inherit;
                            }
                        }
                        .lt-column {
                            min-height: 450px;
                        }
                        .mid-column {
                            min-height: 500px;
                        }
                        .rt-column {
                            min-height: 450px;
                        }
                        .lt-column,
                        .mid-column,
                        .rt-column {
                            display: block;
                            position: inherit;
                            float: none;
                            width: 100%;
                            min-height: 100px;
                            top: auto;
                            left: auto;
                        }
                    }
                }
            }
        }
    }
}
