/* BEGIN: _var.scss
// -----------------------------------------------------*/

// Set Color Scheme
@import 'color-palette';

// Typography
// -----------------------------------------------------

$baseFontSize:          14px;
$baseFontFamily:        Helvetica, Arial, sans-serif;
$baseLineHeight:        28px;
$fontFamilyLight:	    "Helvetica Neue Light", Helvetica, Arial, sans-serif;

// Custom Web Fonts
$titleFont:  "GothamPro";
$titleFontBold:  "GothamProBold";
$titleFontLight:  "GothamProLight";

//** Background color for `<body>`.
$bodyBG:               $white;
//** Global text color on `<body>`.
$textColor:            $charcoal;

//** Global textual link color.
$linkColor:            $brown;
//** Link hover color set via `darken()` function.
$linkHoverColor:      darken($linkColor, 15%);
//** Link hover decoration.
$linkHoverDecoration: underline;


// Forms
// -----------------------------------------------------
$placeholderText: 			#a9a9a9;
$input-height-base: 		34px;


// Common
// -----------------------------------------------------
$copyColor: 				$charcoal;
$pageMargin: 				20px;
$borderColor:				#ddd;


// Layout
// -----------------------------------------------------
$navbarHeight: 			45px;


// Margins & Padding
// -------------------------------------------------- //
$pageMargin: 				20px;



// Media queries breakpoints
// -----------------------------------------------------

// Extra small screen / phone
$screen-xs-min:              480px;

// Small screen / tablet
$screen-sm-min:              768px;

// Medium screen / desktop
$screen-md-min:              992px;

// Large screen / wide desktop
$screen-lg-min:              1200px;
