/* BEGIN: styles.scss
// -----------------------------------------------------*/

// Global Includes
// -----------------------------------------------------
@import 'var';
@import 'mixins';
@import 'common';
@import 'animation';
@import 'typography';
@import 'grid';
@import 'layout';
@import 'nav';
@import 'footer';
@import '_tabs';


html,
body {
	@include BodyCopy;
    background-color: $bodyBackground;
    border-top: 2px solid $yellow;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
main {
    margin: 0 5%;
}
a {
    color: $linkColor;
}

.color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.box-color {
    width: 125px;
    height: 50px;
    margin: 0 5px 5px 0;
    text-align: center;
    // black
    &.black {
        color: white;
        background: $black;
    }
    &.charcoal {
        color: white;
        background: $charcoal;
    }
    // grey
    &.grey-lightest {
        color: darken($white, 80%);
        background: $greyLightest;
    }
    &.grey-lighter {
        color: darken($white, 80%);
        background: $greyLighter;
    }
    &.grey-light {
        color: darken($white, 80%);
        background: $greyLight;
    }
    &.grey {
        color: darken($white, 80%);
        background: $grey;
    }
    &.grey-dark {
        color: lighten($white, 20%);
        background: $greyDark;
    }
    &.grey-darker {
        color: lighten($white, 20%);
        background: $greyDarker;
    }
    &.grey-darkest {
        color: lighten($white, 20%);
        background: $greyDarkest;
    }
    // colors
    &.blue {
        color: lighten($white, 20%);
        background: $blue;
    }
    &.red {
        color: lighten($white, 20%);
        background: $red;
    }
    &.brown {
        color: lighten($white, 20%);
        background: $brown;
    }
    &.yellow {
        color: lighten($white, 20%);
        background: $yellow;
    }
    &.orange {
        color: lighten($white, 20%);
        background: $orange;
    }
    &.pink {
        color: lighten($white, 20%);
        background: $pink;
    }
    &.purple {
        color: lighten($white, 20%);
        background: $purple;
    }
    &.green {
        color: lighten($white, 20%);
        background: $green;
    }
}
