@charset "UTF-8";
/* BEGIN: styles.scss
// -----------------------------------------------------*/
/* BEGIN: _var.scss
// -----------------------------------------------------*/
/* BEGIN: _var.scss
// -----------------------------------------------------*/
/* BEGIN: variables.scss - for theme.scss
// -----------------------------------------------------*/
/* BEGIN: Include Mixins
// -----------------------------------------------------*/
/* BEGIN: mixin border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: border-radius.scss
// -----------------------------------------------------*/
/* BEGIN: box-shadow.scss
// -----------------------------------------------------*/
/* BEGIN: flex-box.scss
// -----------------------------------------------------*/
/* BEGIN: transition.scss
// -----------------------------------------------------*/
/* BEGIN: gradient.scss
// -----------------------------------------------------*/
/* COMMON REUSABLE MIXINS
// -----------------------------------------------------*/
/* BEGIN: common.scss
// -----------------------------------------------------*/
* {
  box-sizing: border-box; }

/* Highlight Text Color */
::selection {
  background: #f50;
  /* Safari */
  color: #fff; }

::-moz-selection {
  background: #f50;
  /* Firefox */
  color: #fff; }

/* Global ************* */
html, body {
  height: 100%; }

body {
  background-color: #f9f9f9;
  border-top: 2px solid #FEC200;
  margin: 0;
  padding: 0; }

p {
  line-height: 1.5em;
  margin: 0 0 1.25em 0; }

a {
  color: #032e68;
  text-decoration: none;
  border-bottom: 1px dashed #ddd; }
  a:hover {
    color: #94c;
    border-bottom-style: solid; }

dl > dd {
  margin-left: 0; }

/* Helpers ************* */
.pull-right {
  float: right; }

.back_top {
  margin: 0;
  padding: 20px 20px 20px 0;
  border-bottom: 1px dashed #FEC200; }

.align-right {
  text-align: right; }
  .align-right .button {
    margin-bottom: 0; }

.callout {
  padding: 20px 40px;
  border: 1px dashed #ddd;
  background: #f0f0f0; }
  .callout > h4 {
    margin-bottom: 10px; }
  .callout .icon-award {
    color: #d9d9d9; }
  .callout .callout-awards {
    border: 1px dashed #FEC200;
    background: #fffffe; }

/* BEGIN: animation.scss - Custom Animation
// -----------------------------------------------------*/
.animate25s {
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate5s {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* Dropdown Menu - Open */
@-webkit-keyframes menuOpen {
  0% {
    opacity: 0;
    height: 0; }
  100% {
    opacity: 1;
    height: auto; } }

@keyframes menuOpen {
  0% {
    opacity: 0;
    height: 0; }
  100% {
    opacity: 1;
    height: auto; } }

.menuOpen {
  -webkit-animation-name: menuOpen;
  animation-name: menuOpen; }

/* Dropdown Menu - Close */
@-webkit-keyframes menuClose {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes menuClose {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.menuClose {
  -webkit-animation-name: menuClose;
  animation-name: menuClose; }

/* BEGIN: typography.scss
// -----------------------------------------------------*/
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333; }

/* HEADER TITLES
// -----------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GothamPro";
  margin-top: 20px;
  letter-spacing: .07rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 175%; }

h3 {
  font-size: 150%; }

h4 {
  font-size: 125%; }
  h4 .fa {
    font-size: 14px;
    margin-left: 5px; }

h5 {
  font-size: 100%; }

h6 {
  font-size: 85%; }

/* TYPOGRAPHY 
// -----------------------------------------------------*/
.text-muted {
  color: #ccc; }

/* BEGIN: _grid.scss
// -----------------------------------------------------*/
@supports (--css: variables) {
  :root {
    --col: 1fr;
    --gutter: 10px; } }

.css-grid {
  outline: 1px solid red;
  margin-bottom: 40px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr repeat(12, var(--col)) 1fr;
  grid-template-rows: minmax(100%, 100%);
  grid-gap: var(--gutter);
  width: 100%;
  min-height: 300px; }
  .css-grid * {
    outline: 1px solid red; }
  .css-grid.css-grid--col-1 {
    grid-template-columns: 100%; }
  .css-grid.css-grid--col-2 {
    grid-template-columns: var(--col) var(--col); }
  .css-grid.css-grid--col-3 {
    grid-template-columns: var(--col) var(--col) var(--col); }

.grid__item {
  border: 1px solid blue; }

.grid__item--heading {
  grid-column: 2 / 11; }

.grid__item--body {
  grid-column: 2 / 8;
  grid-row: 2 / span 1; }

.grid__item--media {
  background: hotPink;
  grid-column: 11 / 14;
  grid-row: 1 / span 2; }

.hg__header {
  grid-area: hg_header;
  background: #666; }

.hg__footer {
  grid-area: hg_footer;
  background: #999; }

.hg__main {
  grid-area: main;
  background: #ccc; }

.hg__left {
  grid-area: hg_navigation;
  background: #ddd; }

.hg__right {
  grid-area: ads;
  background: #eee; }

.hg {
  outline: 1px solid black;
  display: grid;
  grid-template-areas: "hg_header hg_header hg_header" "hg_navigation main ads" "hg_footer hg_footer hg_footer";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px 1fr 30px;
  min-height: 100vh; }

@media screen and (max-width: 600px) {
  .hg {
    grid-template-areas: "hg_header" "hg_navigation" "main" "ads" "hg_footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 1fr 50px 30px; } }

/* BEGIN: _layout.scss
// -----------------------------------------------------*/
.chef-grid {
  display: grid;
  grid-template-rows: auto 4fr 45px;
  min-height: 100vh; }
  .chef-grid .chef-grid--header {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .chef-grid .chef-grid--header hgroup {
      grid-area: a;
      align-self: end; }
    .chef-grid .chef-grid--header nav {
      grid-area: b;
      align-self: end;
      justify-self: end; }

@media screen and (max-width: 600px) {
  .chef-grid .chef-grid--header {
    grid-template-areas: "a" "b";
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr; }
    .chef-grid .chef-grid--header hgroup {
      margin: 0 20px; }
    .chef-grid .chef-grid--header nav {
      margin: 0 20px;
      justify-self: center;
      width: 100%; }
      .chef-grid .chef-grid--header nav ul {
        border: 1px solid green;
        margin: 0 20px;
        display: flex;
        justify-content: space-around; } }

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 5%; }
  .page .page-content {
    flex: 1; }
  .page .page-footer {
    justify-self: flex-end; }

.page-content section > h2 {
  display: inline-block;
  margin: 0 0 10px 0; }

.page-content section .back-top {
  margin-top: 5px; }

.page-content section .colonnade {
  padding: 20px 5px; }
  .page-content section .colonnade .lt-column,
  .page-content section .colonnade .mid-column,
  .page-content section .colonnade .rt-column {
    padding-left: 10px; }
    .page-content section .colonnade .lt-column h2,
    .page-content section .colonnade .mid-column h2,
    .page-content section .colonnade .rt-column h2 {
      margin: 1em 0; }
    .page-content section .colonnade .lt-column:first-child,
    .page-content section .colonnade .mid-column:first-child,
    .page-content section .colonnade .rt-column:first-child {
      padding-left: 0; }
  .page-content section .colonnade.cards .card {
    font-family: 'Inconsolata';
    background: #f0f0f0;
    border: 1px solid #fff;
    box-shadow: 0 0 15px #d9d9d9;
    color: #333;
    outline: 1px solid #d9d9d9;
    padding: 0 0 60px 0; }
    .page-content section .colonnade.cards .card footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 20px; }
  .page-content section .colonnade.cards .lt-column,
  .page-content section .colonnade.cards .mid-column,
  .page-content section .colonnade.cards .rt-column {
    float: left;
    position: relative; }
    .page-content section .colonnade.cards .lt-column:hover,
    .page-content section .colonnade.cards .mid-column:hover,
    .page-content section .colonnade.cards .rt-column:hover {
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: #e6e5e5;
      box-shadow: 0 0 25px #a6a6a6;
      color: #000;
      text-decoration: none; }
    .page-content section .colonnade.cards .lt-column h1,
    .page-content section .colonnade.cards .mid-column h1,
    .page-content section .colonnade.cards .rt-column h1 {
      font-family: "GothamProLight";
      margin-top: 10px;
      font-size: 150%;
      margin: 20px 20px 0.75em 20px; }
    .page-content section .colonnade.cards .lt-column p,
    .page-content section .colonnade.cards .mid-column p,
    .page-content section .colonnade.cards .rt-column p {
      text-align: justify;
      margin: 0 20px; }
  .page-content section .colonnade.cards .lt-column {
    min-height: 350px;
    right: -5px;
    top: 20px;
    width: 31.3%; }
  .page-content section .colonnade.cards .mid-column {
    min-height: 425px;
    z-index: 2;
    width: 37.3%; }
  .page-content section .colonnade.cards .rt-column {
    left: -5px;
    min-height: 350px;
    top: 20px;
    width: 31.3%; }

.page-content section.callout {
  background-color: #f6f6f6;
  color: #807f7f;
  font-family: Helvetica;
  margin: 0 0 2em 0;
  outline: 1px solid #e9e9e9;
  padding: 1em; }
  .page-content section.callout h1 {
    margin-bottom: 1em; }
  .page-content section.callout dl {
    clear: both;
    display: block;
    margin-bottom: 20px;
    overflow: hidden; }
    .page-content section.callout dl dt {
      margin: .5em auto; }
    .page-content section.callout dl dd {
      display: inline-block;
      margin: .25em .25em .25em 0; }
      .page-content section.callout dl dd.graphic {
        float: left;
        margin: 0 15px 0 0;
        width: auto; }
        .page-content section.callout dl dd.graphic img {
          border: 3px solid #fff;
          border-radius: 100%; }
    .page-content section.callout dl:last-child {
      margin-bottom: 0; }

/* BEGIN: nav.scss
// -----------------------------------------------------*/
.page-header {
  display: grid;
  grid-template-columns: 1fr auto; }
  .page-header hgroup h1 {
    margin: 24px 0 0 0; }
    .page-header hgroup h1 a {
      border-bottom: none;
      color: #595959; }
  .page-header hgroup h2 {
    color: #f50;
    font-size: 135%; }
    .page-header hgroup h2 + p {
      margin-top: 10px;
      margin-bottom: 8px; }
  .page-header nav {
    align-self: end;
    color: #ccc; }
    .page-header nav > ul {
      list-style: none;
      margin-bottom: 0; }
      .page-header nav > ul li {
        display: inline-block;
        margin-bottom: 0; }
        .page-header nav > ul li a {
          border-bottom: 4px solid transparent;
          display: inline-block;
          padding: 4px 16px;
          text-transform: capitalize;
          text-shadow: 0 1px #fff; }
          .page-header nav > ul li a.active {
            color: #94c;
            font-weight: bold; }
          .page-header nav > ul li a:hover {
            border-bottom-color: #94c; }
        .page-header nav > ul li:after {
          content: "•"; }
        .page-header nav > ul li:last-child:after {
          content: ""; }

/* BEGIN: Secondary Page Navigation */
.navbar-fixed hgroup {
  -moz-transition: all 2s ease-in ease;
  -ms-transition: all 2s ease-in ease;
  -o-transition: all 2s ease-in ease;
  -webkit-transition: all 2s ease-in ease;
  transition: all 2s ease-in ease; }
  .navbar-fixed hgroup h1 {
    font-size: 115%;
    margin: 0; }
  .navbar-fixed hgroup h2 {
    font-size: 100%; }
    .navbar-fixed hgroup h2 + p {
      display: none; }

.navbar-fixed.navbar-fixed {
  background: rgba(254, 194, 0, 0.9);
  border-top: 2px solid #FEC200;
  box-shadow: 0 1px 3px #807f7f;
  height: 45px;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-backdrop-filter: blur(5px);
  /* backdrop-filter is not fully supported yet; so far only on safari */
  backdrop-filter: blur(5px); }
  .navbar-fixed.navbar-fixed hgroup {
    display: inline-block; }
    .navbar-fixed.navbar-fixed hgroup h1 {
      color: #000;
      display: inline-block;
      line-height: 40px; }
    .navbar-fixed.navbar-fixed hgroup h2 {
      display: none; }
  .navbar-fixed.navbar-fixed nav {
    margin-right: 10px;
    padding-top: 5px;
    top: 0; }
    .navbar-fixed.navbar-fixed nav ul {
      margin-bottom: 0; }
      .navbar-fixed.navbar-fixed nav ul li {
        margin-bottom: 0; }
        .navbar-fixed.navbar-fixed nav ul li:after {
          color: #000; }
        .navbar-fixed.navbar-fixed nav ul li a {
          text-shadow: none; }
          .navbar-fixed.navbar-fixed nav ul li a:not(.active) {
            color: #000; }

.subnav strong {
  margin-left: 10px;
  margin-right: 10px; }

/* Tablet and Phone - <992px */
@media only screen and (max-width: 992px) {
  /* Begin Navigation */
  header nav {
    margin: 1em 0;
    background-color: #f9f9f9; }
    header nav li {
      width: 32%;
      text-align: center; }
      header nav li a {
        margin: 0; }
        header nav li a:first-child {
          padding-left: 0; }
        header nav li a:nth-child(2) {
          text-align: center; }
        header nav li a:last-child {
          text-align: right; }
      header nav li:after {
        content: " "; }
  /* Begin Layout */
  main article section .colonnade.cards .card {
    padding-bottom: 0; }
    main article section .colonnade.cards .card footer {
      position: inherit; }
  main article section .colonnade.cards .lt-column {
    min-height: 450px; }
  main article section .colonnade.cards .mid-column {
    min-height: 500px; }
  main article section .colonnade.cards .rt-column {
    min-height: 450px; }
  main article section .colonnade.cards .lt-column,
  main article section .colonnade.cards .mid-column,
  main article section .colonnade.cards .rt-column {
    display: block;
    position: inherit;
    float: none;
    width: 100%;
    min-height: 100px;
    top: auto;
    left: auto; } }

/* BEGIN: footer.scss
// -----------------------------------------------------*/
.page-footer {
  text-align: center;
  padding-bottom: 16px; }
  .page-footer span {
    display: block;
    width: auto;
    color: #a6a6a6;
    font-size: .85em; }

/* BEGIN: tabs.scss
// -----------------------------------------------------*/
ul.tab-nav {
  list-style: none;
  border-bottom: 1px solid #bbb;
  padding-left: 5px; }

ul.tab-nav li {
  display: inline; }

ul.tab-nav li a.button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
  border-bottom: none; }

ul.tab-nav li a.active.button {
  border-bottom: 0.175em solid #fff; }

.tab-content .tab-pane {
  display: none; }

.tab-content .tab-pane.active {
  display: block;
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */ }

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html,
body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: #f9f9f9;
  border-top: 2px solid #FEC200;
  margin: 0;
  padding: 0; }

a {
  color: #382424; }

.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center; }

.box-color {
  width: 125px;
  height: 50px;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 50px; }
  .box-color.black {
    color: white;
    background: #000; }
  .box-color.charcoal {
    color: white;
    background: #333; }
  .box-color.grey-lightest {
    color: #333333;
    background: #f0f0f0; }
  .box-color.grey-lighter {
    color: #333333;
    background: #e6e5e5; }
  .box-color.grey-light {
    color: #333333;
    background: #d9d9d9; }
  .box-color.grey {
    color: #333333;
    background: #ccc; }
  .box-color.grey-dark {
    color: white;
    background: #a6a6a6; }
  .box-color.grey-darker {
    color: white;
    background: #807f7f; }
  .box-color.grey-darkest {
    color: white;
    background: #595959; }
  .box-color.blue {
    color: white;
    background: #043F90; }
  .box-color.red {
    color: white;
    background: #d22; }
  .box-color.brown {
    color: white;
    background: #382424; }
  .box-color.yellow {
    color: white;
    background: #FEC200; }
  .box-color.orange {
    color: white;
    background: #f50; }
  .box-color.pink {
    color: white;
    background: #f69; }
  .box-color.purple {
    color: white;
    background: #94c; }
  .box-color.green {
    color: white;
    background: #74ae42; }

/*# sourceMappingURL=global.css.map */